#login-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true', style='display: none;')
  .modal-dialog
    .modal-content
      .modal-header(align='center')
        img#img_logo(src='/assets/img/pilotplus_black.png')
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span.glyphicon.glyphicon-remove(aria-hidden='true')
      #div-forms
        form#login-form
          .modal-body
            #div-login-msg
              #icon-login-msg.glyphicon.glyphicon-chevron-right
              span#text-login-msg Login with your username and password.
            input#login_username.form-control(type='text', placeholder='Username', required='')
            input#login_password.form-control(type='password', placeholder='Password', required='')
            .checkbox
              label
                input(type='checkbox')
                |  Remember me
          .modal-footer
            div
              button.btn.btn-primary.btn-lg.btn-block(type='submit') Login
            div
              button#login_lost_btn.btn.btn-link(type='button') Lost Password?
              button#login_register_btn.btn.btn-link(type='button') Register
        form#lost-form(style='display:none;')
          .modal-body
            #div-lost-msg
              #icon-lost-msg.glyphicon.glyphicon-chevron-right
              span#text-lost-msg Type your e-mail.
            input#lost_email.form-control(type='text', placeholder='E-Mail (type ERROR for error effect)', required='')
          .modal-footer
            div
              button.btn.btn-primary.btn-lg.btn-block(type='submit') Send
            div
              button#lost_login_btn.btn.btn-link(type='button') Log In
              button#lost_register_btn.btn.btn-link(type='button') Register

        form#register-form(style='display:none;')
          .modal-body
            #div-register-msg
              #icon-register-msg.glyphicon.glyphicon-chevron-right
              span#text-register-msg Register an account.
            input#register_username.form-control(type='text', placeholder='Username (type ERROR for error effect)', required='')
            input#register_email.form-control(type='text', placeholder='E-Mail', required='')
            input#register_password.form-control(type='password', placeholder='Password', required='')
          .modal-footer
            div
              button.btn.btn-primary.btn-lg.btn-block(type='submit') Register
            div
              button#register_login_btn.btn.btn-link(type='button') Log In
              button#register_lost_btn.btn.btn-link(type='button') Lost Password?