.profile.continer
	.banner
		.container
			.badge
				.picture
					img( src="/assets/img/liam.jpg" )
				.username BentBot
		.bg
			video( width="100%" height="auto" autoplay loop src="/assets/img/clouds.webm" )
	.account.grid
		ul.details
			li Administrator
			li 140k Miles
			li Canada
			li Active 2 Hours ago
			li August 2015
