
</div>
	<footer class="footer">
    Welcome to <a href="http://vbit.io">vBit.io</a>, the fastest binary trading system. Legally trade currencies in a secure environment, earning profitable returns. Please read the <a href="http://vbit.io/tos">Terms of Use</a> before using this website.
	</footer>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45768290-2', 'vbit.io');
      ga('send', 'pageview');

    </script>
</body>
</html>