footer.footer
	Welcome to <a href="http://vbit.io">vBit.io</a>, the fastest binary trading system. Legally trade currencies in a secure environment, earning profitable returns. Please read the <a href="http://vbit.io/tos">Terms of Use</a> before using this website.