<div class="globalheader">
  <div class="title">
    <div class="container">
        <!-- site title -->
      <button type="button" style="height: 31px;" class="btn btn-yellow btnlogo">
         <span class="sitename" style="padding-bottom: 2px;"><span class="glyphicon glyphicon-arrow-up"></span><span class="glyphicon glyphicon-arrow-down"></span>
       </span>
      </button>

      <div class="right">

      </div>

    </div>
  </div>
  <div class="header">
  <div class="linktray" style="height: 30px;">
    <ul class="keystones" id="keystones">
    </ul>
    <div class="left scroller"></div>
    <div class="right scroller"></div>
  </div>
<% if (user) { %>
  <div class="accounttray">
    <div class="container" style="padding: 0px;">
      <ul>
        <li id="prefs"><a href="#">Preferences</a></li>
        <li id="security"><a href="#">Security</a></li>
        <li id="logout"><a href="logout">Logout</a></li>
      </ul>
    </div>
  </div>

  <div class="financestray">
    <div class="container" style="padding: 0px;">
      <ul>
        <li id="deposit"><a href="#">Deposit</a></l1>
        <li id="withdrawl"><a href="#">Withdrawal</a></li>
        <li id="history"><a href="#">History</a></li>
        <li id="referrals"><a href="#">Referrals</a></li>
      </ul>
    </div>
</div>

<div class="announcesplit">
  <div class="container">
<div class="x"></div>
<div class="y"></div>
<div class="z"></div>
  </div>
</div>
<div class="announcexp">
  <div class="container">
<div class="y"></div>
  </div>
</div>

  <div class="announcesuccess">
    <div class="container">
      <ul>
        <li><a href="#"></a></l1>
      </ul>
      <span class="label label-warning"></span>
    </div>
  </div>

  <div class="announcedanger">
    <div class="container">
      <ul>
        <li><a href="#"></a></l1>
      </ul>
      <span class="label label-warning"></span>
    </div>
  </div>
  <% } %>
</div>
</div>
<div class="menu">
  <div class="sidebar-title" data-translate="trade">Trade
    <div class="sidebar-pin"><i class="fa fa-toggle-off"></i></div>
  </div>
  <ul class="sidebar-symbols"></ul>
</div>
<div class="hook">
<% if (alert) { %>
  <div class="alert alert-success" style="margin: 0px auto 0px auto; width: 100%; padding: 10px; text-align: center;">
    <%= alert %>
  </div>
<% } %>