<div class="globalheader">
  <div class="title">
    <div class="topcontainer">
        <!-- site title -->
      <button type="button" style="height: 31px;" class="btn btn-warning btnlogo">
         <span class="sitename" style="padding-bottom: 2px;"><span class="glyphicon glyphicon-arrow-up"></span><span class="glyphicon glyphicon-arrow-down"></span></span>
      </button>

      <div class="right">

      </div>

    </div>
  </div>
  <div class="linktray" style="height: 30px;">
    <div class="container" style="padding: 0px;">
      <ul class="keystones">
        <li id="BTCUSD"><a href="#">BTCUSD:<span class="keystoneBTCUSD"></span></a></l1>
        <li id="BTCCNY"><a href="#">BTCCNY:<span class="keystoneBTCCNY"></span></a></l1>
        <li id="AAPL"><a href="#">Apple:<span class="keystoneAAPL"></span></a></li>
        <li id="GOOG"><a href="#">Google:<span class="keystoneGOOG"></span></a></li>
      </ul>
    </div>
  </div>
<% if (user) { %>
  <div class="accounttray">
    <div class="container" style="padding: 0px;">
      <ul>
        <li id="account"><a href="#">Account</a></l1>
        <li id="prefs"><a href="#">Preferences</a></li>
        <li id="security"><a href="#">Security</a></li>
        <li id="logout"><a href="logout">Logout</a></li>
      </ul>
    </div>
  </div>

  <div class="financestray">
    <div class="container" style="padding: 0px;">
      <ul>
        <li id="deposit"><a href="#">Deposit</a></l1>
        <li id="withdrawl"><a href="#">Withdrawal</a></li>
        <li id="history"><a href="#">History</a></li>
        <li id="referrals"><a href="#">Referrals</a></li>
      </ul>
    </div>
</div>

<div class="announcesplit">
  <div class="container">
<div class="x"></div>
<div class="y"></div>
<div class="z"></div>
  </div>
</div>
<div class="announcexp">
  <div class="container">
<div class="y"></div>
  </div>
</div>

  <div class="announcesuccess">
    <div class="container">
      <ul>
        <li><a href="#"></a></l1>
      </ul>
      <span class="label label-warning"></span>
    </div>
  </div>

  <div class="announcedanger">
    <div class="container">
      <ul>
        <li><a href="#"></a></l1>
      </ul>
      <span class="label label-warning"></span>
    </div>
  </div>
  <% } %>

</div>
<div class="hook">
