div( class="globalheader" )
  div( class="title" )
    div( class="topcontainer" )
      button( type="button" style="height: 31px;" class="btn btn-warning btnlogo" )
         span( class="sitename" style="padding-bottom: 2px;")
          span( class="glyphicon glyphicon-arrow-up" )
            span( class="glyphicon glyphicon-arrow-down" )
      div( class="right" )
  div( class="linktray" style="height: 30px;" )
    div( class="container" style="padding: 0px;position:relative;height:30px;" )
      ul( class="keystones" )
if user
  div( class="accounttray" )
    div( class="container" style="padding: 0px;" )
      ul
        li( id="prefs" )
          a( href="#" ) Preferences
        li( id="security" )
          a( href="#" ) Security
        li( id="logout" )
          a( href="logout" ) Logout
  div( class="financestray" )
    div( class="container" style="padding: 0px;" )
      ul
        li( id="deposit" )
          a( href="#" ) Deposit
        li( id="withdrawl" )
          a( href="#" )Withdrawal
        li( id="history" )
          a( href="#" ) History
        li( id="referrals" )
          a( href="#" ) Referrals
div( class="announcesplit" )
  div( class="container" )
    div( class="x" )
    div( class="y" )
    div( class="z" )
div( class="announcexp" )
  div( class="container" )
    div( class="y" )
  div( class="announcesuccess" )
    div( class="container" )
      ul
        li
          a( href="#" )
      span( class="label label-warning" )
  div( class="announcedanger" )
    div( class="container" )
      ul
        li
          a( href="#" )
      span( class="label label-warning" )
div( class="hook" )