<div class="globalheader">
  <div class="title">
    <div class="topcontainer">
        <!-- site title -->
      <button type="button" style="height: 31px;" class="btn btn-warning btnlogo">
         <span class="sitename" style="padding-bottom: 2px;"><span class="glyphicon glyphicon-arrow-up"></span><span class="glyphicon glyphicon-arrow-down"></span></span>
      </button>

      <div class="right">

      </div>

    </div>
  </div>
  <div class="linktray" style="height: 30px;">
    <div class="container" style="padding: 0px;position:relative;height:30px;">
      <ul class="keystones">
        <li id="BTCUSD"><a href="#">Bitcoin:<span class="keystoneBTCUSD"></span></a></l1>
        <li id="LTCUSD"><a href="#">Litecoin:<span class="keystoneLTCUSD"></span></a></l1>
        <li id="EURUSD"><a href="#">Euro:<span class="keystoneEURUSD"></span></a></l1>
        <li id="GBPUSD"><a href="#">Pound:<span class="keystoneGBPUSD"></span></a></l1>
        <li id="CADUSD"><a href="#">Canadian:<span class="keystoneCADUSD"></span></a></l1>
        <li id="AAPL"><a href="#">Apple:<span class="keystoneAAPL"></span></a></li>
        <li id="GOOG"><a href="#">Google:<span class="keystoneGOOG"></span></a></li>
        <li id="GCM14.CMX"><a href="#">Gold:<span class="keystoneGOLD"></span></a></li>
        <li id="^SLVSY"><a href="#">Silver:<span class="keystoneSILVER"></span></a></li>
        <li id="CLM14.NYM"><a href="#">Oil:<span class="keystoneOIL"></span></a></li>
        <li class="btn btn-xs btn-blue seeall hide" data-translate="seeall">More</li>
      </ul>
    </div>
  </div>
<% if (user) { %>
  <div class="accounttray">
    <div class="container" style="padding: 0px;">
      <ul>
        <li id="prefs"><a href="#">Preferences</a></li>
        <li id="security"><a href="#">Security</a></li>
        <li id="logout"><a href="logout">Logout</a></li>
      </ul>
    </div>
  </div>

  <div class="financestray">
    <div class="container" style="padding: 0px;">
      <ul>
        <li id="deposit"><a href="#">Deposit</a></l1>
        <li id="withdrawl"><a href="#">Withdrawal</a></li>
        <li id="history"><a href="#">History</a></li>
        <li id="referrals"><a href="#">Referrals</a></li>
      </ul>
    </div>
</div>

<div class="announcesplit">
  <div class="container">
<div class="x"></div>
<div class="y"></div>
<div class="z"></div>
  </div>
</div>
<div class="announcexp">
  <div class="container">
<div class="y"></div>
  </div>
</div>

  <div class="announcesuccess">
    <div class="container">
      <ul>
        <li><a href="#"></a></l1>
      </ul>
      <span class="label label-warning"></span>
    </div>
  </div>

  <div class="announcedanger">
    <div class="container">
      <ul>
        <li><a href="#"></a></l1>
      </ul>
      <span class="label label-warning"></span>
    </div>
  </div>
  <% } %>

</div>
<div class="hook">
